@import url("https://fonts.googleapis.com/css?family=Lato:400,700");
:root {
    --primaryColor: #6d28d9;
    --secondaryColor: #ede9fe;
    --mainWhite: #fff;
    --mainBlack: #222;
    --mainGrey: #7c7c7c;
    --mainSpacing: 0.1rem;
    --mainTransition: all 0.3s linear;
    --mainRed: #db2777;
    --bodyColor: #f6f6f6;
}
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    color: var(--mainBlack);
    background-color: var(--bodyColor);
    
    font-family: "lato", sans-serif;
}
.nav{
    background-color: var(--secondaryColor);
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.navbar-center{
    max-width: 1170px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.nav-items{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cart i, .bars i{
    color: var(--primaryColor);
    font-size: 1.5rem;
    cursor: pointer;
}
.cart, .bars{
    position: relative;
    padding: 10px;
}
.cart-items{
    width: 20px;
    height: 20px;
    color: beige;
    background-color: var(--mainRed);
    padding: 4px 4px;
    border-radius: 100%;
    font-size: 0.75rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -1px;
    right: 1px;
}
.our-products {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.h2-tag{
    text-align: center;
    padding: 40px 0;
    font-size: 2rem;
}

.product-center {
    width: 100%;
    max-width: 1170px;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px, 1fr));
}
.product-img{
    width: 100%;
    min-height: 120px;
}
.product {
    margin: 2rem;
    border-radius: 15px 15px 0 0;
    box-shadow: #7c7c7c 2px 2px 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.product:hover{
    
}
.product-img{
    border-radius: 15px 15px  0 0;
}
.product-desc{
    display: flex;
    width: 100%;
    justify-content: space-around;
    padding: 10px 0;
}
button {
    outline: 0;
    border: 0;
    border-radius: 8px;
    background-color: var(--secondaryColor);
    color: var(--primaryColor);
    padding: 10px 25px;
    margin: 10px;
    font-weight: bold;
    cursor: pointer;
}