@import url("https://fonts.googleapis.com/css?family=Lato:400,700");
:root {
    --primaryColor: #6d28d9;
    --secondaryColor: #ede9fe;
    --mainWhite: #fff;
    --mainBlack: #222;
    --mainGrey: #7c7c7c;
    --mainSpacing: 0.1rem;
    --mainTransition: all 0.3s linear;
    --mainRed: #db2777;
    --bodyColor: #f6f6f6;
}
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-color: var(--bodyColor);
    display: flex;
    justify-content: center;
}
.wrapper {
    background-color: var(--mainWhite);
    display: flex;
    justify-content: center;
    height: 500px;
    width: 300px;
    margin: 50px 0;
    /* border: 3px solid red; */
    border-radius: 12px;
    box-shadow: #222 0 0 10px;
}
.img-area {
    /* border: 2px solid var(--primaryColor); */
    width: 120px;
    height: 120px;
    margin: 25px 0;
    border-radius: 100%;
    box-shadow: 0 0 10px #222;
    display: flex;
    justify-content: center;
}
.inner-area {
    border-radius: 100%;
}
